* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}

/* Crea a partir de aquí tu CSS */



svg#Layer_1.like {
  fill: red;
  animation: like 0.5s ease-in-out
}
@keyframes like {
  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.90);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.95);
  }

}